<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            
        <title>RECIPIE BOOK</title>
    </head>
    <body  >
      <div style="margin-top: 10px;background:#f9f9f9;padding-left: 10px ">
                    <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">S.No</th>
                        <th scope="col">Name</th>
                        <th scope="col">Ingredients</th>
                        <th scope="col">Directions</th>
                      </tr>
                    </thead>
               
                    <tbody>
                            <tr>
                           <% for(var i=0; i < recipies.length; i++) { %>
                            <td><%= recipies[i].id %></td>
                            <td><%= recipies[i].name %></td>
                            <td><div class="dropdown">
                              <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Ingredients for <%= recipies[i].name %>
                              </button>
                              <div class="dropdown-menu">
                                <div  >
                                  <p>
                                  <%= recipies[i].ingredients%>
                                </p>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                              </div>
                                
                              </div>
                            </div></td>
                            <td><div class="dropdown">
                                <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Directions for <%= recipies[i].name %>
                                </button>
                                <div class="dropdown-menu">
                                  <div  >
                                    <p>
                                    <%= recipies[i].direction%>
                                  </p>
                                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                                  
                                </div>
                              </div></td>
                               </tr>
                            <% } %>
                            </tbody>
                            </table>
                          </div>
                          
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" 
                            data-target="#formModal" style=" position: fixed;
                            bottom: 40px;
                            right: 10px; height: 100px;
                              width: 100px;
                              border-radius: 50%;
                              border: 10px solid red;">
                                    Add RECIPIES
                                  </button>
                                  
                                  <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                          <div class="modal-content">
                                              <form action="/add" method="POST">
                                            <div class="modal-header">
                                              <h5 class="modal-title" id="myModalLabel">ADD RECIPIES</h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                            </div>
                                            <div class="modal-body">
                                                    <div class="form-group">
                                                        <label for="name">Recipie  Name</label>
                                                        <input type="text" class="form-control" id="name" name="name" aria-describedby="name" placeholder="Enter Name" required>
                                                      </div>
                                                          <div class="form-group">
                                                                <label>Ingredients</label>
                                                                <textarea class="form-control" name="ingredients"></textarea>
                                                          </div>
                                                         <div class="form-group">
                                                                <label>Direction</label>
                                                                <textarea class="form-control" name="direction"></textarea>
                                                          </div>
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                              <input type="submit" class="btn btn-primary" value="submit"/>
                                            </div>
                                        </form>
                                          </div>
                                        </div>
                                      </div>
                            
                            
                            
    </body>
</html>